.comments {
  margin-top: 80px;

  a {
    background-color: lighten($bg-color, 2);
    border: 1px solid desaturate($detail-color-2, 20);
    border-radius: 15px;
    width: 100%;
    padding: 12px;
    text-decoration: none;

    display: flex;
    align-items: center;
    transition: transform 0.5s, background-color 0.4s;

    &:hover {
      background-color: darken($bg-color, 2);
      transform: translateX(4%);
    }

    &+a {
      margin-top: 10px;
    }

    img {
      width: 7em;
      height: 5em;
      border-radius: 50%;
    }

    div {
      margin-left: 16px;

      strong {
        font-size: 20px;
        color: $detail-color-2;
      }

      p {
        font-size: 16px;
        color: $detail-color-3;
      }

    }

    i {
      size: 70px;
      color: $detail-color-4;
      margin-left: auto;
    }
  }
}