* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: $gradient-bg no-repeat fixed;
}

body, input, button {
  font: 16px Poppins, sans-serif;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;

  &:before {
    content: "";
    position: absolute;
    width: 1000px;
    height: 1000px;
    box-shadow: 10px 6px 20px $detail-color-4;
    border-radius: 100%;
    background: $gradient-detail;
    top: -10%;
    right: 48%;
    z-index: -1;
    transform: translate(y - 50%);
  }
}

header#main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  strong {
    color: $detail-color-3;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $detail-color-3;
    transition: color 0.4s;

    &:hover {
      color: darken($detail-color-3, 20);
    }

    i {
      margin-right: 4px;
    }
  }
}