section.container {
  h1 {
    max-width: 450px;
    font-size: 48px;
    color: $detail-color-2;
    text-shadow:
      4px 4px 20px #000,
      2px 2px 60px $detail-color-1;
    line-height: 70px;
    margin-top: 80px;
  }
}

form#create-card {
  margin-top: 40px;
  max-width: 700px;
  // box-shadow: 0 0 10px #000;

  display: flex;

  input {
    flex: 1;
    height: 40px;
    padding: 0 24px;
    border-radius: 15px 0 0 15px;
    border: 2px solid $detail-color-2;
    border-right: 0;
    color: #fff;
    background-color: lighten( $bg-color, 20);
    transition: background-color 0.35s;

    &.error {
      border-color: $error-collor;
    }

    &::placeholder  {
      color: lighten($detail-color-4, 25);
    }

    &:focus {
      background-color: lighten($bg-color, 70);
      color: #000;
    }
  }

  button {
    width: 210px;
    height: 40px;
    background: $detail-color-2;
    color: lighten($bg-color, 3);
    border: none;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
    padding: 0 3%;
    letter-spacing: 0.2em;
    transition: 0.3s;

    &:hover {
      background: lighten($detail-color-2, 5);
      color: darken($detail-color-1, 20);
    }
  }
}

.cards {
  margin-top: 40px;
  max-width: 780px;

  @import "./card";
}